<table class="table">
  <tr>
    <th>Category</th>
    <th>Name</th>

    <th>Description</th>
    <th>Create Time</th>
  </tr>
  <% @works.each do |work| %>
    <tr>
      <td><%= link_to(work.category.try(:name), work_path(work)) %></td>
      <td><%= work.name %></td>
      <td><%= work.description %></td>
      <td><%= work.created_at.to_s %></td>
    </tr>
  <% end %>
</table>
