# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: fd3435f942e5b7d34fcd6880e7509a35c7912f6423102042f6063ab2052d459e945e5b6766719f868f30db96a74c8653d1811abfe4be8c0400e9741e2a4ebe25

test:
  secret_key_base: 5c9bfdd9ccba8b602dcc1aea8666dca5a2169d643e69d1df23bec1762eb49b1c584c742e27b9289df9d5bb25d6be7d47167983ed5e154dc7426121a4ae98bcc2

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
