<h1>Admin Works</h1>



<table class="table">
  <tr>
    <th>Category</th>
    <th>Name</th>

    <th>Description</th>
    <th>Action</th>
    <th></th>
  </tr>
  <% @works.each do |work| %>
    <tr>
      <td><%= work.category.try(:name) %></td>
      <td><%= link_to(work.name) %></td>

      <td><%= work.description %></td>
      <td class="markdown">
        <%= markdown(work.description) %>
      </td>
      
    </tr>
  <% end %>
</table>
